table
  width: 100%

.btn-add-row
  float: right
  margin-right: 10px

.row-clicked
  font-weight: bold
  background-color: #f44336

.btn-remove-row
  margin-left: 10px

.d-flex
  display: flex !important
